@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Source+Sans+Pro&display=swap');

body {
  padding: 1em;
  font-family: sans-serif;
  color: 'black';
  margin-left: calc(100vw - 100%);
}
