:root {
    --fade-duration: 0.2s;
}

.home-hero-unit{
    /* more to add re: positioning */
    transition: opacity fade-duration ease-out;
    opacity: 0;
    z-index: 0;
}

.hhu-frame{
    text-decoration: none;

}

.hhu-header{
    font-size: 21px;
    line-height: 1;
}

.hhu-title{
    display: inline-block;
    font-size: 80px;
}

.hhu-subheading{
    font-size: 40px;
}

.hhu-action-prompt{
    font-size: 18px;
}

.hhu-button{
    padding: 10px 20px;
    border: 3px solid black;
    background: transparent;
    background-color: black;
    color: white;
}
.hhu-button:hover,
.hhu-button:active,
.hhu-button:focus{
    color: black;
    background: white;
}

.home-hero-unit-controls{
    text-align: center;
}

.home-hero-unit-dots{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: inline-block;
}

.home-hero-unit-dots li{
    background-color: gray;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
    }

.home-hero-unit-dots .hhud-active,
.home-hero-unit-dots li:hover,
.home-hero-unit-dots li:focus,
.home-hero-unit-dots li:active {
    background: #000;
}

.home-hero-unit-dots li:last-child {
    margin-right: 0;
}
